h4 {
    margin: 0;
}

.container {
    width: 550px;
    margin: 0 auto;
}

.header{
    font-style: italic;
    padding: 4px 0;
}

.body {
    font-size: 14px;
    padding: 0 0 12px;
}

.item:nth-child(2n){
    background: #FAFAFA;
}

.form-wrapper {
    margin-top: 50px;
}

.label{
    font-size: 14px;
    font-weight: normal;
    display: block;
}

.label div {
    padding: 4px 0;
}

.input, .textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 310px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
}

.textarea {
    width: 100%;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.button {
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    background: #fff;
    padding: 8px 12px;
    cursor: pointer;
}
.prymary {
    background: #0275D8;
    border-color: #0275D8;
    color: #fff;
}